
body{
    background: url("../src/components/images/coffee-apple.jpg") no-repeat center center fixed;
    -webkit-background:cover;
    -moz-background:cover;
    -o-background:cover;
    background:cover;
}